@charset "UTF-8";
/* 全ページ共通 */

/* Override */
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 90%;
	color: #444;
}

h1, h2, h3, h4, h5, h6,
p,
dl, dt, dd, ul, ol, li{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

ul, ol{
	list-style-position: outside;
}

address,
em{
	font-style: normal;
}

th{
	text-align:left;
}

a{
	text-decoration: underline;
	color: #2A98A2;
}

a:hover{
	text-decoration: none;
	color: #A2342A;
}

a img{
	border: none;
}

/* ------------------------------------------- */

.container {
	max-width: 750px !important;
}

body{
	width: 750px;
	margin: 0 auto;
	padding-bottom: 20px;
}

p.logo{
	/* width: 730px; */
	height: 90px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 20px;
	/* background: url("/biz-contest2024/common/images/bg_header.gif") no-repeat 0 0; */
	background-color: #2A98A2;
	border-radius: 0rem 0rem 1rem 1rem;
}

p.logo > a > img {
	max-width: 80%;
}

/* main */
div.main{
	width: 750px;
	overflow: hidden;
	margin-bottom: 30px;
}

/* main > doc */
div.doc{}

div.doc p,
div.doc li{
	line-height: 1.7;
}

div.doc h1{
	margin-bottom: 20px;
}

div.doc div.section{
	margin-bottom: 20px;
}

div.doc h2{
	margin-bottom: 10px;
}

div.doc p.note{
	margin-left: 1em;
	line-height: 1.3;
	text-indent: -1em;
	font-size: 90%;
	color: #666;
}

div.doc ul{
	list-style: none;
}

div.doc ul li{
	margin-bottom: 0.5em;
	padding-left: 18px;
	background: url("/biz-contest2024/common/images/icon_asterisk.gif") no-repeat 0 0.4em;
}

div.doc ul.notes li{
	margin-top: 0.5em;
	margin-bottom: 0;
	padding-top: 0.5em;
	background-position: 0 0.8em;
	border-top: dotted 2px #ccc;
}

div.doc ul.notes li.first{
	margin-top: 0;
	padding-top: 0;
	background-position: 0 0.4em;
	border-top: none;
}

div.doc dl.compact dt{
	float: left;
}

div.doc dl.compact dd{
	overflow: hidden;
}

div.doc em{
	font-weight: bold;
	color: #2A98A2;
}

/* main > doc > deadline */
div.doc div.deadline{
	margin-bottom: 0;
}

div.doc div.deadline p{
	margin-bottom: 5px;
}

div.doc div.deadline em{
	font-size: 120%;
	color: #A2342A;
}

div.doc div.deadline dt{
	width: 6em;
}

/* main > doc > info */
div.doc div.info{
	margin: 20px 0;
}

div.doc div.info h2{
	margin-bottom: 5px;
	font-size: 110%;
	color: #2A98A2;
}

div.doc div.info p{
	margin-bottom: 5px;
}


/* main > menu */
ul.menu {
	display: none;
}

@media screen and (min-width: 868px) {
  ul.menu{
  	display: block;
  	width: 150px !important;
  	float: left;
  	padding-bottom: 5px;
  	background: #2A98A2 url("/biz-contest2024/common/images/bg_menu_bottom.gif") no-repeat left bottom;
  	list-style: none;
  	color: #fff;
  }

  ul.menu li{
  	display: inline;
  }

  ul.menu a{
  	display: block;
  	margin-bottom: 14px;
  	padding-left: 10px;
  	color: #fff;
  }

  ul.menu li.submenu a{
  	margin-top: 5px;
  	padding-top: 15px;
  	border-top: dashed 1px #fff;
  }

  ul.menu li.first a{
  	padding-top: 15px;
  	background: url("/biz-contest2024/common/images/bg_menu_top.gif") no-repeat 0 0;
	}

}

/* footer */
div.footer p.pagetop{
	margin-bottom: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: solid 3px #2A98A2;
	border-bottom: solid 1px #2A98A2;
}

div.footer p.pagetop{
	text-align: right;
	font-size: 90%;
}

div.footer p.pagetop a{
	padding-left: 17px;
	background: url("/biz-contest2024/common/images/icon_pagetop.gif") no-repeat 0 50%;
}

div.footer address{
	display: block;
	text-align: center;
	font-size: 90%;
	margin-bottom: 2rem;
}

div.footer address span.name{
	display: block;
	margin-bottom: 0.5em;
	line-height: 1.5;
	font-size: 100%;
}

div.footer address span.tel{
	margin-right: 1em;
}


/* hamburger button (open side menu) */
.menu-side-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
	color: white;
	background-color: rgb(95, 95, 95);
	display: flex;
}

@media screen and (min-width: 868px) {
/* hamburger button (open side menu)  */
.menu-side-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
	color: #333;
	display: none;
}

}

/* side menu */
.menu-side{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background: #555;
	overflow-y: auto;
}
.menu-side-item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

.menu-side{
	display: none;
}

.menu-side.is-active{
	display: block;
}


.nowrap {
	white-space: nowrap;
}
