@charset "UTF-8";
/* 最終審査会結果 表彰式報告 */

body.final h1{
	font-size: 140%;
	color: #FFC20E;
}
body.final h2{
	font-size: 120%;
	color: #FFC20E;
}

body.final div.result{
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: solid 2px #ccc;
}

body.final div.result div.section{
	margin-bottom: 0;
}

body.final div.result div.section.business{
	float: left;
}

body.final div.result div.section.student{
	float: right;
}

body.final div.result div.section h3{
	margin-bottom: 15px;
	padding: 3px 8px;
	background: #FFC20E;
	font-weight: normal;
	color: #fff;
	font-size: 100%;
}

body.final div.result div.section h4{
	margin-bottom: 5px;
	color: #FFC20E;
	font-size: 100%;
}

body.final div.result div.section h4 span.note{
	margin-left: 0.5em;
	font-weight: normal;
	font-size: 80%;
}

body.final div.result div.section dl{
	margin-bottom: 15px;
}

body.final div.result div.section dt{
	margin-bottom: 3px;
	padding-left: 15px;
	background: url("/biz-contest2021/common/images/icon_asterisk.gif") no-repeat 0 0.25em;
	font-weight: bold;
	font-size: 100%;
}

body.final div.result div.section dd{
	margin-bottom: 12px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom: dotted 2px #ccc;
	line-height: 1.3;
}

body.final div.result div.section dd.last{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

body.final div.result p.more{
	clear: both;
	margin-bottom: 20px;
	padding-top: 10px;
	line-height: 1.4;
	border-top: solid 1px #ccc;
}

body.final div.picsline{
	/* width: 594px; */
	overflow: hidden;
	margin-bottom: 20px;
}
body.final div.picsline div.pic{
	/* width: 182px; */
	float: left;
	/* margin-right: 12px; */
	margin-bottom: 20px;
}
body.final div.pic img{
	display: block;
	margin-bottom: 5px;
}
body.final div.pic span.caption{
	/* display: block; */
	line-height: 1.3;
	text-align: center;
	font-size: 80%;
	color: #777;
}
body.final div.pic.mainimage{
	width: 450px;
	float: none;
	margin: 0 auto 10px auto;
	text-align: center;
}
body.final div.pic a:link img{
	border: solid 2px #FFC20E;
}
body.final div.pic a:visited img{
	border: solid 2px #93a0b0;
}
body.final div.pic a:hover img,
body.final div.pic a:hover active{
	border: solid 2px #8E3462;
}

body.final div.spprize{
	margin-bottom: 15px;
	padding: 10px 15px 15px;
	border: solid 1px #ccc;
}
body.final div.spprize h3{
	margin-bottom: 10px;
	font-size: 110%;
	color: #FFC20E;
}
body.final div.spprize div.picsline{
	margin: 15px auto 0;
}
body.final div.spprize div.picsline div.pic{
	width: 173px;
	margin-right: 10px;
}
